.THIS .slds-form-element{
    display: inline-block;
}
.THIS .my-text{
    width: 50%;
    display: inline-block;
}
.THIS .my-space{
    margin-left: 10%;
}
.THIS .my-left{
    width: 60%;
    display: inline-block;
}
.THIS .my-right{
    width: 40%;
    display: inline-block;
}
.THIS .my-textarea{
    width: 100%;
}
.THIS .my-button{
    margin-bottom: 5%;
}